[submodule "wg/wrk"]
	path = wg/wrk
	url = git@github.com:wg/wrk.git
[submodule "aerospike/act"]
	path = aerospike/act
	url = git@github.com:aerospike/act
[submodule "aerospike/aerospike-client-java"]
	path = aerospike/aerospike-client-java
	url = git@github.com:aerospike/aerospike-client-java
[submodule "aerospike/aerospike-graphite"]
	path = aerospike/aerospike-graphite
	url = git@github.com:aerospike/aerospike-graphite
[submodule "aerospike/aerospike-loader"]
	path = aerospike/aerospike-loader
	url = git@github.com:aerospike/aerospike-loader
[submodule "aerospike/aerospike-server"]
	path = aerospike/aerospike-server
	url = git@github.com:aerospike/aerospike-server
[submodule "benkeen/generatedata"]
	path = benkeen/generatedata
	url = git@github.com:benkeen/generatedata
[submodule "box/Anemometer"]
	path = box/Anemometer
	url = git@github.com:box/Anemometer
[submodule "example42/puppet-modules"]
	path = example42/puppet-modules
	url = git@github.com:example42/puppet-modules
[submodule "example42/puppet-tomcat"]
	path = example42/puppet-tomcat
	url = git@github.com:example42/puppet-tomcat
[submodule "garethr/puppet-module-skeleton"]
	path = garethr/puppet-module-skeleton
	url = git@github.com:garethr/puppet-module-skeleton
[submodule "ggreer/the_silver_searcher"]
	path = ggreer/the_silver_searcher
	url = git@github.com:ggreer/the_silver_searcher
[submodule "brettwooldridge/lettuce"]
	path = brettwooldridge/lettuce
	url = git@github.com:brettwooldridge/lettuce
[submodule "evidens/json2csv"]
	path = evidens/json2csv
	url = git@github.com:evidens/json2csv
[submodule "mongodb/mongo-perf"]
	path = mongodb/mongo-perf
	url = git@github.com:mongodb/mongo-perf
[submodule "TylerBrock/mongo-hacker"]
	path = TylerBrock/mongo-hacker
	url = git@github.com:TylerBrock/mongo-hacker
[submodule "mcafee/mysql-audit"]
	path = mcafee/mysql-audit
	url = git@github.com:mcafee/mysql-audit
[submodule "mzupan/nagios-plugin-mongodb"]
	path = mzupan/nagios-plugin-mongodb
	url = git@github.com:mzupan/nagios-plugin-mongodb
[submodule "percona/percona-toolkit"]
	path = percona/percona-toolkit
	url = git@github.com:percona/percona-toolkit
[submodule "puppetlabs/puppetlabs-apache"]
	path = puppetlabs/puppetlabs-apache
	url = git@github.com:puppetlabs/puppetlabs-apache
[submodule "puppetlabs/puppetlabs-tomcat"]
	path = puppetlabs/puppetlabs-tomcat
	url = git@github.com:puppetlabs/puppetlabs-tomcat
[submodule "RackTables/racktables"]
	path = RackTables/racktables
	url = git@github.com:RackTables/racktables
[submodule "skoneka/screen-session"]
	path = skoneka/screen-session
	url = git@github.com:skoneka/screen-session
[submodule "tweepy/tweepy"]
	path = tweepy/tweepy
	url = git@github.com:tweepy/tweepy.git
[submodule "vladimirvivien/jmx-cli"]
	path = vladimirvivien/jmx-cli
	url = git@github.com:vladimirvivien/jmx-cli.git
[submodule "brianfrankcooper/YCSB"]
	path = brianfrankcooper/YCSB
	url = git@github.com:brianfrankcooper/YCSB.git
[submodule "n1trux/awesome-sysadmin"]
	path = n1trux/awesome-sysadmin
	url = git@github.com:n1trux/awesome-sysadmin.git
[submodule "freeboard/freeboard"]
	path = freeboard/freeboard
	url = git@github.com:Freeboard/freeboard.git
[submodule "Kickball/awesome-selfhosted"]
	path = Kickball/awesome-selfhosted
	url = git@github.com:Kickball/awesome-selfhosted.git
[submodule "CachetHQ/Cachet"]
	path = CachetHQ/Cachet
	url = git@github.com:CachetHQ/Cachet.git
[submodule "mmatuson/SchemaSync"]
	path = mmatuson/SchemaSync
	url = git@github.com:mmatuson/SchemaSync.git
[submodule "twitter-archive/kestrel"]
	path = twitter-archive/kestrel
	url = git@github.com:twitter-archive/kestrel.git
[submodule "brettwooldridge/HikariCP"]
	path = brettwooldridge/HikariCP
	url = git@github.com:brettwooldridge/HikariCP.git
[submodule "brettwooldridge/HikariCP-benchmark"]
	path = brettwooldridge/HikariCP-benchmark
	url = git@github.com:brettwooldridge/HikariCP-benchmark.git
[submodule "brettwooldridge/HikariJSON"]
	path = brettwooldridge/HikariJSON
	url = git@github.com:brettwooldridge/HikariJSON.git
[submodule "brettwooldridge/HikariJSON-benchmark"]
	path = brettwooldridge/HikariJSON-benchmark
	url = git@github.com:brettwooldridge/HikariJSON-benchmark.git
[submodule "brettwooldridge/sql-parser"]
	path = brettwooldridge/sql-parser
	url = git@github.com:brettwooldridge/sql-parser.git
[submodule "brettwooldridge/ratpack"]
	path = brettwooldridge/ratpack
	url = git@github.com:brettwooldridge/ratpack.git
[submodule "linux/kernel"]
	path = linux/kernel
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
[submodule "torvalds/linux"]
	path = torvalds/linux
	url = git@github.com:torvalds/linux.git
